<!DOCTYPE html>
<html>
<body>

<h2>Image text Recognizer</h2>
<form action="/readtext" method="POST">
  <label for="imgUrl">Image URL</label><br>
  <input type="text" id="imgUrl" name="imgUrl" value=""><br>
  <button type="submit">submit </button>
  
</form> 



</body>
</html>
